<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<style>
    .contenedor_app{
    max-width: 700px;
    width: 100%;
    margin: 90px auto 0px;
    box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgb(0 0 0 / 45%);
    padding: 50px;
    }
</style>
<body>
    <div class="contenedor_app">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Menu</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-xl-between" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="../">Inicio<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contacto</a>
                    </li>
                </ul>
                <a class="btn btn-success" href="/logout">Desloguearme</a>
            </div>
        </nav>
        <div class="formulario d-flex flex-column align-items-center">
            <h1>Ordenes de <%= payload.name %> </h1>
            <br>
            <div class="d-flex flex-column align-items-center justify-content-center mt-lg-5">
                <% if (order) { %>
                <form action="/cart/purchase" method="post">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (const item of order.products){ %>
                                <tr>
                                    <th scope="row"><%=item.name %></th>
                                    <td><%=item.price %> </td>
                                    <td><%=item.qty %> </td>
                                    <td><%= item.qty * item.price %> </td>
                                </tr>
                            <% } %>
                                <tr>
                                    <th scope="row">Total</th>
                                    <td colspan="3" style="align-items: center;"><%= order.total %> </td>
                                </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-primary" type="submit">Generar Orden</button>
                </form>
                <% } else { %>
                    <h1 style="background-color: grey;">No hay nada para mostrar aqui</h1>
                <% } %> 
            </div>
        </div>
    </div>
</body>
</html>