<br><br>

<div class="d-flex flex-column align-items-center justify-content-center mt-lg-5">
    <% if (cart) { %>
    <form action="/cart/purchase" method="post">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Subtotal</th>
                </tr>
            </thead>
            <tbody>
                <% for (const item of cart.products){ %>
                    <tr>
                        <th scope="row"><input class="form-input" type="text" name="name" value="<%=item.name %>" readonly></th>
                        <td><input class="form-input" type="text" name="price" style="width: 58px;" value="<%=item.price %>" readonly></td>
                        <td><input class="form-input" type="number" name="qty" style="width: 48px;" value="<%=item.qty %>"></td>
                        <td><input class="form-input" type="number" name="total" style="width: 68px;" value="<%= item.qty * item.price %>"></td>
                        <td><button class="btn btn-primary" type="submit" formaction="/cart/update">Actualizar Cantidades</button></td>
                    </tr>
                <% } %>
                    <tr>
                        <th scope="row">Total</th>
                        <td colspan="3" style="align-items: center;"><%= cart.total %> </td>
                    </tr>
            </tbody>
        </table>
        <button class="btn btn-primary" type="submit">Generar Orden</button>
    </form>
    <% } else { %>
        <h1 style="background-color: grey;">Ups, no hay productos en el carrito</h1>
    <% } %> 
</div>