<br><br>

<div class="d-flex flex-column align-items-center justify-content-center mt-lg-5">
    <% if (cart) { %>
    <form action="/purchase" method="post">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Subtotal</th>
                </tr>
            </thead>
            <tbody>
                <% for (const item of cart.products){ %>
                    <tr>
                        <th scope="row"><%=item.name %></th>
                        <td><%=item.price %> </td>
                        <td><%=item.qty %> </td>
                        <td><%= item.qty * item.price %> </td>
                    </tr>
                <% } %>
                    <tr>
                        <th scope="row">Total</th>
                        <td colspan="3" style="align-items: center;"><%= cart.products.reduce((acum, item) => acum + item.qty * item.price, 0) %> </td>
                    </tr>
            </tbody>
        </table>
        <button class="btn btn-primary" type="submit">Finalizar Compra</button>
    </form>
    <% } else { %>
        <h1 style="background-color: grey;">Ups, no hay productos en el carrito</h1>
    <% } %> 
</div>